#project-calculator {
    margin: auto;
    padding: 50px;
    height: 50%;
    display: grid;
    text-align: center;
    grid-gap: 15px;
}

#project-calculator input {
    font-size: 3em;
    text-align: center;
    width: 100%;
}

#project-calculator select,
#project-calculator button {
    width: 100%;
    background-color: rgb(224, 224, 224);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
}