#project-leaflet {
    margin: auto;
    padding: 10px;
    display: grid;
    text-align: center;
}
#leaflet-map {
    height: 400px;
    width: 100%;
    border-radius: 25px;
}
.leaflet-list {
    padding-top: 10px;
    width: 100%;
}
.leaflet-list a {
    display: block;
    margin: 15px 0;
    padding: 5px;
    background-color: rgba(71, 8, 10);
    border-radius: 5px;
    text-decoration: none;
}
/**
 * Responsiveness
 */
/*Laptop (default device)*/
@media screen and (min-width: 874px) {
    .leaflet-list a {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
    }
}
/*Tablet*/
@media screen and (min-width: 641px) and (max-width: 874px) {
    .leaflet-list a {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
    }
}