/**
 * Main (CSS Grid)
 */
* {
    padding: 0;
    margin: 0;
    font-family: 'Bitter', serif;
    color: rgb(224, 224, 224);
}
body {
    background-color: rgb(25, 25, 25);
}
.main-container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-areas: 
        'header header'
        'nav nav'
        'profile profile'
        'project project'
        'footer footer';
}

/**
 * Header
 */
header {
    grid-area: header;
    text-align: center;
    padding: 5vh 0 5vh 0;
}
.header-container {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    background-color: rgb(224, 224, 224);
}

/**
 * Nav
 */
nav {
    grid-area: nav;
    text-align: center;
}

/**
 * Profile Container
 */
.profile-container {
    grid-area: profile;
    text-align: center;
    background-color: rgba(71, 8, 10);
    color: rgb(245, 245, 245);
    border-radius: 25px;
    padding: 25px;
    display: grid;
    grid-template-areas: 
        'image image'
        'description description';
}
.profile-description {
    grid-area: description;
}
.profile-image {
    grid-area: image;
    margin: auto;
    width: 150px;
    border-radius: 50%;
}
.profile-name,
.profile-title {
    font-family: 'Patua One', cursive;
    font-weight: normal;
}
.profile-name {
    padding-top: 10px;
    font-size: 2.5em;
}
.profile-title {
    font-size: 1em;
}
.profile-link {
    grid-area: link;
    text-align: center;
    margin: 20px 0;
}
.profile-link a {
    display: inline-block;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5em;
    text-decoration: none;
}

/**
 * Project Container
 */
.project-container {
    grid-area: project;
    border: 2px rgb(224, 224, 224) dashed;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.project-list {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.project-box {
    margin: auto 10px;
    overflow: hidden;
    border-radius: 25px;
    text-decoration: none;
}
.project-content {
    height: 130px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255);
    transition: all 0.5s ease;
}
.project-caption {
    padding-top: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    display: block;
    transition: all 0.5s ease;
}
.project-title {
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
    border-radius: 25px;
    background-color: rgba(77, 7, 9, 0.8);
    font-size: 1.2em;
}
.project-description {
    font-size: 0.9em;
    line-height: 1.5;
}

/**
 * Footer
 */
footer {
    grid-area: footer;
    padding: 20px 0;
    font-size: 0.8em;
    display: grid;
    grid-template-areas: 
        'left left'
        'right right';
}
footer a {
    text-decoration: none;
}
footer .footer-left {
    margin: auto 0;
    padding: 5px 0;
    grid-area: left;
    text-align: center;
}
footer .footer-right {
    margin: auto 0;
    padding: 5px 0;
    grid-area: right;
    text-align: center;
}

/**
 * Responsiveness
 */
/*Laptop (default device)*/
@media screen and (min-width: 874px) {
    .main-container {
        grid-template-areas: 
            'header header'
            'nav nav'
            'profile project'
            'footer footer';
    }
    .profile-container {
        grid-template-rows: 1fr 3fr;
    }
    .project-list {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
        grid-gap: 30px;
    }
    footer {
        grid-template-areas: 
            'left right';
    }
    footer .footer-left {
        text-align: left;
    }
    footer .footer-right {
        text-align: right;
    }
    .project-caption {
        display: none;
    }
    .project-content:hover,
    .project-content:focus {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .project-content:hover .project-caption,
    .project-content:focus .project-caption {
        display: block;
    }
    .project-title {
        font-size: 1em;
    }
    .project-description {
        font-size: 0.7em;
        padding: 0 30px;
    }
}
/*Tablet*/
@media screen and (min-width: 641px) and (max-width: 874px) {
    .profile-container {
        grid-template-areas: 
            'image description';
    }
    .profile-description {
        margin-top: auto;
    }
    footer {
        grid-template-areas: 
            'left right';
    }
    footer .footer-left {
        text-align: left;
    }
    footer .footer-right {
        text-align: right;
    }
}

/**
 * Custom
 */
.material-icons-text {
    vertical-align: bottom;
}
.emoji-cat::before {
    content: "\1F639";
}
.emoji-blue-heart::before {
    content: "\1F499";
}
.emoji-red-heart::before {
    content: "\2764";
}
.text-center {
    text-align: center;
}
.text-black {
    color: rgb(25, 25, 25) !important;
}
.text-black * {
    color: rgb(25, 25, 25) !important;
}
.text-white {
    color: rgb(224, 224, 224) !important;
}
.text-white * {
    color: rgb(224, 224, 224) !important;
}